[Desktop Entry]
Icon=/usr/share/libDrakX/pixmaps/dvb-48.png
Type=Service
X-KDE-ServiceTypes=SystemSettingsExternalApp
Exec=drakdvb

X-KDE-System-Settings-Parent-Category=system-administration

Name=DVB devices
Name[ru]=Цифровое ТВ

Comment=Configure DVB devices
Comment[ru]=Настройка каналов цифрового телевидения

X-KDE-Keywords=packages
Categories=Qt;KDE;X-KDE-information;
